<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="container">
    <h1 class="title">Detalles del producto</h1>
    <div class="box">
        <div class="box-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="form-text"><strong>Id:</strong> {{_id}}</p>
            <p class="form-text"><strong>Description:</strong> {{description}}</p>
            <p class="form-text"><strong>Code:</strong> {{code}}</p>
            <p class="form-text"><strong>Price:</strong> ${{price}}</p>
            <p class="form-text"><strong>Stock:</strong> {{stock}}</p>
            <p class="form-text"><strong>Category:</strong> {{category}}</p>
            <p class="form-text"><strong>Thumbnails:</strong> {{thumbnails}}</p>
        </div>
    </div>
    <a href="/" class="back">Volver a la lista de productos</a>
</body>

</html>